.App {
  text-align: center;
}

.header{
  background-color: blue;
 width: 100%;
}
input{
  border: 2px solid blue;
}
button{
  background-color:deepskyblue;
  border: 2px solid blue;
  width:100px;
  height: 30px;
}
.content{
  margin:auto;
  
  
}
p{
  text-align:left;
  margin-left: 2%;
  font-size: 1vw;
}
h1{
font-size: 1vw;
}
.course{
  display: flex;
  flex-direction:column;
  position: relative;
  float:right;
  width: 20%;
  height:400px;
  flex-wrap: nowrap;
  margin: 2%;
  border: 2px solid #D7D7D7;
  
}