.App {
  text-align: center;
}

.header{
  background-color: blue;
 width: 100%;
}
input{
  border: 2px solid blue;
}
button{
  background-color:deepskyblue;
  border: 2px solid blue;
  width:100px;
  height: 30px;
}

p{
  text-align:left;
  margin-left: 1%;
  font-size: 1vw;
}
h1{
font-size:2vh;
}
.content{
  justify-content: space-around;
}
.course{
  
 position:relative;
  float:left;
  overflow: hidden;
  height:100%;
  width:40%;
  
  flex-wrap: nowrap;
  margin: 4%;
  border: 2px solid #D7D7D7;
  
}